{% include 'frontend/nav.html' %}
{% load static %}
{% block content %}


<div class="container">
    <div class="row" id="home">
        
    </div>
</div>

    <script>
        build()
        function build(){
            var sp1=document.getElementById('home')

            var url = 'http://0.0.0.0:8000/api/category-list/'
            fetch(url)
            .then((resp) => resp.json())
            .then(function(data){
            console.log('data:',data)
            var list = data
            
            for( let i=0;i<Object.keys(list).length;i++){
                 
                var item = `
            <div class="col-sm-12 col-md-3 mt-4"  style="height:500px;">
                <div class="card">
                    <img class="card-img-top" src="http://0.0.0.0:8000${list[i].image}" alt="${list[i].name}" style="height:200px;">
                    <div class="card-body">
                        <h5 class="card-title">${list[i].name}</h5>

                        <a href="/categories/${list[i].id}" class="btn btn-sm btn-outline-primary">Visit category</a>
                    </div>
                </div>
            </div>`

                sp1.innerHTML+=item
            }
    
  })
        }
    </script>


{% include 'frontend/footer.html' %}
{% endblock %}