{% include 'frontend/nav.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <title>Card</title>
</head>
<body>
    
    <div class="container" id="product">
        

    </div>
</body>
</html>
<script>
    build()
    function build(){
        var sp1=document.getElementById('product')
        var url = 'http://0.0.0.0:8000/api/selected-product/{{ob.id}}/'
            fetch(url)
            .then((resp) => resp.json())
            .then(function(data){
            console.log('data:',data)
            var list = data
            var item = `<div class="card-container">
                          <div class="shoe-area">
       
                            <img src="http://0.0.0.0:8000${list.product_image}" alt="${list.product_name}" style="height:400px;width:400px">
  
                          </div>
                          <div class="text-area">
                              <div class="heading-area">
                                  <h4>${list.product_name}</h4>
                              </div>

                                  <p class="paragraph-area">
                                      Description : ${list.product_description}
                                  </p>


                              <div class="price-and-buy-btn">
                                  <h5>$ ${list.price}</h5>

                                  <button class="buy-btn">Add to Cart</button>
                              </div>
                          </div>
                        </div>`

            sp1.innerHTML+=item
  })      
    }
</script>


{% endblock %}
